<div class="container-fluid">
    <div class="row justify-content-center">
  
      <div class="col-12 col-lg-10 col-xl-10">
        <div class="header mt-md-5">
          <div
            class="
              header-body
              d-flex
              justify-content-between
              align-items-center
              pt-0
            "
          >
            <div class="row align-items-center">
              <div class="col">
                <h1 class="header-title">Ajouter Arbitre</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-lg container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-xl-12 form-label-custom">
          <!-- Form -->
          <form [formGroup]="FormGroup"  class="py-6">
            <div class="row">
              <div class="col-8">
                <div class="row justify-content-end mb-3">
  
                </div>
                <div class="row justify-content-end mb-3">
                  <div class="form-group col-8">
                    <h2 class="header-title">Arbitre :</h2>
                    <hr class="mb-5" />
                    <label class="form-label">Nom et Prénom</label>
  
                    <!-- Input -->
                    <input type="text" class="form-control" #nomprenomar formControlName="nomprenomar" required >

                    <div class="col-md-6 col-md-offset-4 alert-danger "
                    *ngIf="!FormGroup.controls.nomprenomar.valid && FormGroup.get('nomprenomar').touched && FormGroup.get('nomprenomar').errors.required">
                    <div class="">Le nom est obligatoire.</div>
                  </div>
                  </div>
                </div>
                <div class="row justify-content-end mb-3">
                  <div class="form-group col-8">
                    <!-- Label -->
                    <label class="form-label">Adresse</label>
  
                    <!-- Input -->
                    <input type="text" class="form-control" #adrar formControlName="adrar" required/>
                    <div class="col-md-6 col-md-offset-4 alert-danger "
                    *ngIf="!FormGroup.controls.adrar.valid && FormGroup.get('adrar').touched && FormGroup.get('adrar').errors.required">
                    <div class="">L'adresse est obligatoire.</div>
                  </div>
                  </div>
                </div>
  
                <div class="row justify-content-end mb-3">
                  <div class="form-group col-8">
                    <!-- Label -->
                    <label class="form-label">Age</label>
  
                    <!-- Input -->
                    <input type="text" class="form-control" #agear formControlName="agear" required/>
                  
                    <div class="col-md-6 col-md-offset-4 alert-danger "
                    *ngIf="!FormGroup.controls.agear.valid && FormGroup.get('agear').touched && FormGroup.get('agear').errors.required">
                    <div class="">L'age est obligatoire.</div>
                  </div>
                  
                  
                  </div>
                </div>

              
              
                
                

              
              
               
             
  
                <div class="row align-items-center justify-content-end">
                  <div class="col-auto">
                    <!-- Button -->
                    <button class="btn btn-lg btn-white" type="reset">
                      Annuler
                    </button>
                  </div>
  
                  <div class="col-auto">
                    <!-- Button --> <button type="submit" class="btn btn-primary first-btn-right" (click)="addarbiter()"
                  [disabled]="FormGroup.invalid">Enregistrer</button>
              
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  