<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h1 class="header-title">Bon de livraison</h1>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      *ngIf="loading"
      class="d-flex justify-content-center spinner-container"
    >
      <span class="spinner-border spinner-border-sm me-3"></span>
    </div>

    <div class="col-xl-10">

      <div class="card">
        <div class="card-header">
          <!-- Title -->
          <h4 class="card-header-title d-flex align-items-center">
            <i class="las la-address-book peoples"></i>
            Bon de commande
          </h4>

          <!-- Button -->

        </div>
        <div class="table-responsive mb-0">
          <table
            class="
              table table-sm table-nowrap
              card-table
              table-hover
              rh-table
              overflow-visible
            "
          >
            <thead>
              <tr>
                <th>Réference</th>
                <th>Libellé</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Prix Total</th>
                <th>Date</th>
               </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor ="let u of bl">
                <td>{{u?.bcclient.reference}}</td>
                <td>{{u?.bcclient.libelle}}</td>
                <td>{{u?.bcclient.prixunitaire}}</td>
                <td>{{u?.bcclient.qte}}</td>
                <td>{{u?.bcclient.prixtotal}}</td>
                <td>{{u?.date  | date: "dd/MM/yyyy"}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
