<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h1 class="header-title">Ajouter Clients</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-lg container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-12 form-label-custom">
        <!-- Form -->

        <div class="row">
          <div class="col-xl-12">


            <form [formGroup]="form" (submit)="submit()">


              <div class="row mb-3">
                <div class="form-group col-md-6  col-lg-6">
                  <!-- Label -->
                  <label class="form-label">Description</label>

                  <!-- Input -->
                  <input
                    type="text"
                    class="form-control"
                    formControlName="desc"

                    />

                </div>

              </div>
              <div class="card-body" formArrayName="contacts">
                <div class="row"  *ngFor="let contact of contactFormGroup.controls; let i = index;">
                  <div [formGroupName]="i" class="row">
                    <h1>Demande devis</h1>
            <br><br><br><br>
                  <div class="row mb-3">
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
Produits
<select  class="form-control" formControlName="product">
  <option value="" disabled selected>
    selectionner produit
  </option>
  <option *ngFor="let u of allproduct" [value]="u.description">{{u.description}}</option>
</select>
                      <!-- Input -->

                    </div>
                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Quantité</label>

                      <!-- Input -->
                      <input
                        type="number"
                        class="form-control"
                        formControlName="quantity"
                      />
                                        </div>
                  </div>
                  <div class="row mb-3">

                    <div class="form-group col-md-6  col-lg-6">
                      <!-- Label -->
                      <label class="form-label">Currency</label>

                      <!-- Input -->
                      <select  class="form-control" formControlName="currency">
                        <option value="" disabled selected>
                          selectionner Currency
                        </option>
                        <option *ngFor="let u of allcurrency" [value]="u.description">{{u.description}}</option>
                      </select>
                                        </div>
                  </div>




                  </div>
                  </div>
                </div>




              <div class="card-body">
                <div class="row">
                <div class="col-6">

                  <button class="btn btn-primary mins" type="button" (click)="addContact()">Ajouter une autre devis </button></div>
                  <div class="col-6">
                  <button class="btn btn-success" type="submit"> Confirmer l'inscription </button>
                </div>    </div>
              </div>

            </form>






        </div>
      </div>
    </div>
  </div>
</div>
