.custom-toast {
    position: absolute !important;
    right: 25px;
    top: 50px;
}

.custom-toast .toast-body {
    font-family: "poppins-light";
}

.custom-toast .toast-header i {
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
}

.custom-toast .toast-header {
    color: #fff !important;
}

.sucess-added .toast-header {
    background: #3eb580
}

.warning-added .toast-header {
    background: #7a030d
}

.danger-added .toast-header {
    background: #e63757
}

.toast-header {

    border-radius: 4px !important;
}