<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h1 class="header-title">Liste des Stades</h1>
            </div>
          </div>
          <div class="row align-items-center">
            <div
            *ngIf="loading"
            class="d-flex justify-content-center spinner-container"
          >
            <span class="spinner-border spinner-border-sm me-3"></span>
          </div>
            <a
              [routerLink]="['/admin/stade/add']"
              class="
                btn btn-primary
                d-flex
                justify-content-center
                align-items-center
                lift
              "
            >
              <i class="las la-leaf add-icon"></i>

              ajouter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
    *ngIf="this.allstade==''"
      class="
        empty-log
        d-flex
        flex-column
        align-items-center
        justify-content-center
      "
    >
      <p class="text-center">ajoutez pour commencer</p>
      <i class="las la-leaf"></i>
    </div>
    <div class="col-xl-10">
      <form class="mb-4">
        <div class="input-group input-group-merge">
          <input
            class="form-control humain-search"
            type="search"
            placeholder="Rechercher"
          />
          <div class="input-group-text">
            <i class="las la-search"></i>
          </div>
        </div>
      </form>
      <div class="card">
        <div class="card-header">
          <!-- Title -->
          <h4 class="card-header-title d-flex align-items-center">
            <i class="las la-leaf leaf"></i>
            List des Stades
          </h4>
        </div>
        <div class="table-responsive mb-0">
          <table
            class="
              table table-sm table-nowrap
              card-table
              table-hover
              rh-table
              overflow-visible
            "
          >
            <thead>
              <tr>
                <th>Nom de stade</th>
                <th>Ville</th>
                <th>Capacité</th>
                <th class="text-center">Actions</th>

              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor= "let u of allstade">
                <td>{{u.nomstade}}</td>
                <td>{{u.ville}}</td>
                <td>{{u.capacite}}.000</td>
                <td class="text-center">
                  <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text p-button-secondary"
                  pTooltip="Modifier détails client "
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  tooltipStyleClass="tooltip-custom"
                  [routerLink]="['/admin/stade/edit',{id:u.id}]"
                ></button>
                  <button

                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-trash"
                    (click)="
                    DeleteClientModal({
                      id: u.id,
                      archived: false
                    })
                  "   
                    class="p-button-rounded p-button-danger p-button-text"
                  ></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog class="custom-dialog-confirm" [style]="{ width: '50vw' }">
  <ng-template pTemplate="footer">
    <!-- Button -->
    <button class="btn btn-lg btn-white" type="reset" (click)="cancel()">
      <i class="las la-times-circle"></i>
      Annuler
    </button>
    <!-- Button -->
    <button
      class="btn btn-lg btn-primary"
      data-toggle="wizard"
      (click)="archiver()"
      *ngIf="!stade.archived"
      [disabled]="loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-3"
      ></span>
      <i class="las la-trash-alt"></i> Supprimer
    </button>
  </ng-template>
</p-confirmDialog>