<html>
<head>
<link rel="icon"  href="./image/icone.jpg" />
<title>Formulaire de connexion </title>
</head>
<img class="img1" src="assets/image/templaeajout.jpg">
<body>

    <div class="loginbox">
        <div>
        
        <h1 class="display-4 text-center mb-3">Inscrivez-vous ici</h1>
        <form [formGroup]="loginform">
           
            <div class="form-group">
                <label class="form-label">Nom</label
                ><input
                  formControlName="nom"
                  name="nom"
                  placeholder="name"
                  type="text"
                  class="form-control"
                />
              </div>
          <div class="form-group">
            <label class="form-label">Prenom</label
            ><input
              formControlName="prenom"
              name="prenom"
              placeholder="prenom"
              type="text"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-label">Date de naissance</label
            ><input
              formControlName="datenaissance"
              type="date"
              class="form-control"
            />
          </div>
        
          <div class="form-group">
            <label class="form-label">Adresse e-mail</label
            ><input
              formControlName="email"
              name="email"
              placeholder="name@address.com"
              type="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label class="form-label">Mot de passe</label>
              </div>
              <div class="col-auto">
                <a
                  routerLink="/authentication/forgetpsw"
                  [routerLinkActive]="['router-link-active']"
                  class="small text-muted form-text"
                  >mot de passe oublié?</a
                >
              </div>
            </div>
            <div class="input-group-merge input-group">
              <input
                formControlName="password"
                name="password"
                placeholder="tapez votre mot de passe"
                type="{{ showPassword ? 'password' : 'text' }}"
                class="form-control"
              />            </div>
          </div>
      
         
          <button
          type="submit"
          class="w-100 mb-3 btn btn-primary btn-lg"
          (click)="add()"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-3"
          ></span>
          <span *ngIf="!loading"> Enregistrer </span>
        </button>           
        </form>
    </div>
</div>

</body>
</html>
