.card {
  margin-bottom: 1.5rem
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #088A08;
  padding: 20px;
  width: 300px;
  height: 160px;
}
#rcorners3 {
  border-radius: 25px;
  border: 2px solid #088A08;
  padding: 20px;
  width: 100px;
  height: 10px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c8ced3;
  border-radius: .25rem
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3
}

